<ul class="small-block-grid-1">
  <li><img src="images/HeaderNW.png" alt="" ></li>
</ul>

<div align="center" class="small-block-grid-1" >
	<div>
	<img src="" alt="" >
	</div>
</div>

<div align="center" class="large-block-grid" border:"">
<table align="center" >
	<tr>
	<td width="200px">
		<form action="input_password.htm">
 		 Username:
 		 <br>
 		 <input name="username" type="username" size="35" maxlength="29"
			<br> 
			<br> 
			<br>   
			<br>  
 		 Kennwort:<input name="kennwort" type="password" size="35" maxlength="29"
		</form>
	</td>
	</tr>
</table>
</div>
		

	
	