<ul class="small-block-grid-1">
  <li><img src="images/header.png" alt="" ></li>
</ul>

<ul class="small-block-grid-2" style="margin:auto;">
  <li><img src="images/email.png" alt="" ></li>
  <li><img src="images/fb.png" alt="" ></li>
</ul>

<ul class="small-block-grid-1 large-block-grid-1">
  <li><img src="images/info_box.png" alt="" ></li>
</ul>

<ul class="small-block-grid-2 small-block-grid-2">
  <li>Suchen</li>
  <li>Anbieten</li>
</ul>

<ul class="large-block-grid-2 small-block-grid-2">
  <li>Wohnungsbild</li>
  <li>Titel 
  <p>
  Beschreibung
  </p> 
  <p>
  Button/mehr Info  
  </p>
  </li>
</ul>