  <!--Kopfzeile-->
<ul class="small-block-grid-1">
  <li><img src="images/header.png" alt="" ></li>
</ul>

  <!--Login-->
<ul class="small-block-grid-2" style="margin:auto;">
  <li>
   <a href="#/login" >
  <img src="images/email.png" alt="" >
  </li>
  <li>
    <a href="http://www.google.de" >
  <img src="images/fb.png" alt="" ></li>
</ul>

  <!--Beschreibung-->
<ul class="small-block-grid-1 large-block-grid-1">
  <li><img src="images/info_box.png" alt="" ></li>
</ul>

  <!--suchen und anbieten-->
<ul class="small-block-grid-2 small-block-grid-2">
  <li>
  	<a href="#" data-dropdown="drop5" class="button dropdown expand">
  		<img src="images/suchen.png" alt="" >
  	</a>
  	  <br>
  		<ul id="drop5" data-dropdown-content class="f-dropdown" style="position: absolute; top: 297px; left: -99999px;">
          <li><a href="h"> 
          		<form action="input_password.htm">
						<table>
							<tr>
							<td>Stadt:<br><input name="" type="stadt" size="12" maxlength="12"></td>
							<td><a href="" >
  					  		<img src="images/suchen_b.png" alt="hi" ></a></td>
							</tr>
						</table>  					
  					 </form> 
				 </a>
		    </li>
          <li><a href="#">This is another</a></li>
          <li><a href="#">Yet another</a></li>
  		</ul>
  </li>
  <li>
  <a href="www.google.de"> 
  		<img src="images/anbieten.png" width="" height="" alt="">
  </a>
  </li>
</ul>

  <!--Serverabfrage-->
<ul class="large-block-grid-2 small-block-grid-2">
<li ng-hide="error || searchResults"><div class="alert-box">Loading, please wait...</div></li>  
<li ng-show="error"><div class="alert-box alert round">IMMOSCOUT-FAIL</div></li>
  
<li ng-repeat="result in searchResults"> 
  <ul class="small-block-grid-2">
    <li>
      <img src="{{result.image_url}}">
    </li>
    <li>
      {{result.description}}
      <p>
      {{result.street}} {{result.houseNumber}}, {{result.postcode}} {{result.city}}
      <p>
      <a href="http://www.immobilienscout24.de/expose/{{result.information}}"><img src="images/informationen.png"></a>
      </p>
    </li>
  </ul>
</li>
  




