<ul class="small-block-grid-1">
  <li><img src="images/HeaderNW.png" alt="" ></li>
</ul>

<ul class="large-block-grid-1">
	<li>
	<div align="center">
	<table align="center" >
	<tr>
		<td>
		<form action="input_password.htm">
 		 E-Mail Adresse:<input name="Email" type="Email" size="35" maxlength="29"
			<br> 
			<br> 
			<br>   
			<br>  
 		 Username:
			<br> 		 
 		 <input name="username" type="username" size="50" maxlength="29"
 		 	<br> 
			<br> 
			<br>   
			<br>  
 		 Kennwort:<input name="kennwort" type="password" size="35" maxlength="29"
 		 	<br> 
			<br> 
			<br>   
			<br>  
 		 Kennwort bestätigen:<input name="kennwort" type="password" size="35" maxlength="29"
		</form>
		</td>
	</tr>
	</table>
	</div>
	</li>
</ul>
		


 