<style type="text/css">
 	<!--
  	form {position: absolute; top: 450px; left: 300px; width: 480px;}
  	form {position: absolute; top: 450px; left: 300px; width: 480px;}

	a {position: absolute; top: 650px; left: 280px;}
  	-->
  </style>

<ul class="small-block-grid-1">
  <li><img src="images/HeaderNW.png" alt="" ></li>
</ul>

<div align="center" class="small-block-grid-1" >
	<div>
	<img src="images/LoginFenster.png" alt="" >
	</div>
</div>

	<div>
		<form action="input_password.htm">
 		 E-Mail adresse:<input name="kennwort" type="password" size="12" maxlength="12"
			<br> 
			<br> 
			<br>   
			<br>  
 		 Username:<input name="kennwort" type="password" size="12" maxlength="12"
 		 	<br> 
			<br> 
			<br>   
			<br>  
 		 Kennwort:<input name="kennwort" type="password" size="12" maxlength="12"
 		 	<br> 
			<br> 
			<br>   
			<br>  
 		 Kennwort bestätigen:<input name="kennwort" type="password" size="12" maxlength="12"
		</form>
	</div>
		

	<a href="#/" >Zurück zur Startseite</a>
	<a href="#/login" >Zum login</a>

 